  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>What's Cooking  </h2>
              <p>Pizza and chicken fingers for the kiddos.  Chinese buffet includes mini wonton, chicken egg roll, house lo mein, house fried rice, sesame chicken, mongolian beef, honey walnut shrimp, and northern style vegetable deluxe.</p>
              <!-- <a href="#contact" class="btn btn-default btn-xl wow tada">Please RSVP!</a> -->
          </div>
      </div>
  </aside>
