<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Saturday, November 5, 2022</h2>
                <hr class="light">
                <h2 class="section-heading">11:00 AM - 2:00 PM</h2>
                <hr class="light">
                <h2 class="section-heading">Neighborhood Park</h2>
                <hr class="light">
                <p class="text-faded">Note: Their are no restrooms in the park,  but you can use ours at our home, a 3 minute walk away </p>
                <a href="https://maps.app.goo.gl/VApA7UD2BfKkBrXcA" class="btn btn-default btn-xl">Map to Park <i class="fa  fa-map-marker text-primary"></i></a>
                <a href="#contact" class="btn btn-default btn-xl wow tada">RSVP</a>
                <a href="https://maps.app.goo.gl/pSCp9MruXaHwbQqs6" class="btn btn-default btn-xl">Restrooms <i class="fa  fa-map-marker text-primary"></i></a>
            </div>
        </div>
    </div>
</section>
