<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Saturday, November 5, 2022</h2>
                <hr class="light">
                <h2 class="section-heading">12:00 PM - 3:00 PM</h2>
                <hr class="light">
                <h2 class="section-heading">McDonald's Park Ramada 5</h2>
                <hr class="light">
                <p class="text-faded">Note about location?!!?</p>
                <a href="https://www.google.com/maps/place/McDonald+Park/@32.2821441,-110.7906647,16.17z/data=!4m5!3m4!1s0x86d66943d1579583:0x1c81e817889b3546!8m2!3d32.281903!4d-110.78706" class="btn btn-default btn-xl">Map<i class="fa-duotone fa-map-location-dot"></i></a>
                <a href="#contact" class="btn btn-default btn-xl wow tada">RSVP</a>
            </div>
        </div>
    </div>
</section>
